.select2-container {
  padding: 0px;
  height: auto;
  min-height: 34px;
  border-width: 0px;
}
.select2-container ul.select2-choices {
  border: 0;
}

.select2-container .select2-choice {
  height: 34px;
  line-height: 34px;
}
