doctype html
html
  head
    title "Добавить организацию"%
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
      meta content="text/html; charset=utf-8" http-equiv="Content-Type"

        script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"

        link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"

        / link href="/static/allvbg/redactor/css/redactor.css" rel="stylesheet" type="text/css"
        / link href="/static/allvbg/css/select2.css" rel="stylesheet" type="text/css"
        / link href="/static/allvbg/css/firm/add/base.css" rel="stylesheet"
        link rel="stylesheet" href="css/redactor.css"
        link rel="stylesheet" href="css/select2.css"
        link rel="stylesheet" href="css/base_add.css"
        link rel="stylesheet" href="css/firm_add.css"


  body
    .container
      .row
        .col-lg-10
          | {% for key, value in form.errors.items %}
          .alert.alert-danger
            | {{key}} - {{value}}
          | {% endfor %}
          form class="form-horizontal" action="http://allvbg.ru/firm/add/" enctype="multipart/form-data" method="post"
            input#id_totalvotes maxlength="50" name="totalvotes" type="hidden" value="0"
            input#id_raiting maxlength="50" name="raiting" type="hidden" value="0"
            legend  % trans "Добавить организацию"%
            | {% csrf_token %}
            .form-group
              label.col-lg-2 for="id_name" 
                | {{ form.name.label_tag }}
              .col-lg-10
                input type="text" class="form-control" id="id_name" name="name"
            .form-group
              label.col-lg-2 for="id_parent" 
                | Категория
              .col-lg-10
                input class="form-control" id="id_parent" name="parent" type="hidden"
            .form-group
              label.col-lg-2 for="id_short" 
                | {{ form.short.label_tag }}
              .col-lg-10
                textarea cols="40" rows="10" class="form-control" id="id_short" name="short"
            .form-group
              label.col-lg-2 for="id_description" 
                | {{ form.description.label_tag }}
              .col-lg-10
                textarea cols="40" rows="10" class="form-control" id="id_description" name="description"
            .form-group
              label.col-lg-2
                | {{ form.image1.label_tag }}
              .col-lg-10
                | {{ form.image1 }}
            .form-group
              label.col-lg-2
                | {{ form.image2.label_tag }}
              .col-lg-10
                | {{ form.image2 }}
            .form-group
              label.col-lg-2
                | {{ form.image3.label_tag }}
              .col-lg-10
                | {{ form.image4 }}
            .form-group
              label.col-lg-2
                | {{ form.image4.label_tag }}
              .col-lg-10
                | {{ form.image4 }}
            .form-group
              label.col-lg-2 for="id_meta_key" 
                | {{ form.meta_key.label_tag }}
              .col-lg-10
                input type="text" class="form-control" id="id_meta_key" name="meta_key"
            .form-group
              label.col-lg-2
                | {{ form.location.label_tag }}
              .col-lg-10
                .row
                  .col-lg-7
                    input#address.vTextField type="text" class="form-control"
                  input#b1 type="button" value="Найти!" class="btn btn-default col-lg-2"
                br
                #YMapsID style="width: 620px; height: 300px;"
                input#id_location.input-xlarge name="location" type="hidden"
                input#id_lat.input-xlarge name="lat" type="hidden"
                input#id_lng.input-xlarge name="lng" type="hidden"

            .form-group
              .col-lg-offset-2.col-lg-10
                button type="submit" class="btn btn-primary" Добавить


    script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
    script src="redactor.js"
    script src="js/flow.js"
    script src="js/select2.js"
    script src="js/base.js"
    / script src="/static/allvbg/redactor/redactor.js" type="text/javascript"
    / script src="/static/allvbg/js/flow.js" type="text/javascript"
    / script src="/static/allvbg/js/select2.js" type="text/javascript"
    / script src="/static/allvbg/js/firm/add/base.js" type="text/javascript"